body{
  background-image:url('fondo.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.principal {

  .lr{
  position:absolute;
  top: 6%;
  left: 35%;
  right:35%;
  width: 30%;
  height: 50%;
  }

}
